/* default.css */

/* ===== global settings ===== */
* {
padding: 0;
margin: 0;
}

body {
  width: 900px;
  margin-top: 10px;
  margin-left: 50px;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: large;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: initial;
  color: white;
}

/* top level container */
div#page {
width: 100%;
}

/* company logo appearing at top of each page */
div#logo {
padding: 10px 0;
margin-left: 150px
}

/* ===== main menu appearing under logo on each page */
div#mainMenu {
width: 843px;
height: 60px;
background: url(../img/film-strip.png);
}

ul#mainLinks li {
float: left;
font-size: 120%;
margin-top: 15px;
width: 140px;
text-align: center;
}

/* ===== content area for each page ===== */
div#content {
clear: left;
width: 100%;
}

div#content p {
margin: 1em .2em .7em 0;
text-align: left;
font-size: 1em;
}

/* ===== only main page has text at left in content area ===== */
div#textLeft {
margin-top: 10px;
float: left;
width: 65%;
}

/* ===== feedback and cart page has form ===== */
div#feedback {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#feedback table {
  border-collapse: separate;
  border-spacing: 0 .5em;
}

div#feedback td {
  width: 300px;
}

div#feedback textarea, input {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: medium;
}

div#cart {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#cart legend {
  text-align: center;
}

div#cart table {
  border-collapse: separate;
  border-spacing: 1em 1em;
}

div#cart fieldset{
  width: 843px;
  margin-bottom: 10px;
}

div#cart td {
  width: 400px;
  padding-left: 5px;
}

/* ===== only main page has image at right in content area ===== */
div#image {
float: left;
width: 35%;
text-align: center;
}

div#image img {
margin-top: 10px;
}

/* ===== several pages have submenus at left in content area ===== */
div#subMenu {
float: left;
width: 150px;
margin-top: 10px;
margin-bottom: 10px;
}

ul#subLinks li {
width: 140px;
padding-bottom: 3px;
border: 1px solid #000;
background-color: #FFF;
text-align: center;
}

ul#subLinks li a {
color: #000;
font-weight: bold;
font-size: .7em;
text-decoration: none;
}

/* ===== pages with submenus at the left have text at the right ===== */
div#textRight {
float: left;
width: 700px;
margin-left: 5px;
}

div#textRight p {
margin: 1em .2em .7em 0;
}

/* ===== several pages have only text in the content area ===== */
div#textOnly{
  margin-top:10px;
  margin-bottom:10px;
  width: 850px;
}

div#textOnly p {
margin-top:10px;
margin-bottom:10px;
margin-left:30px;
}

div#textOnly a{
  color: #FFF;
}

div#textOnly ol {
margin: 50px 100px 20px;
}

div#textOnly ul {
margin: 0 50px;
}

/* ===== footer has both copyright notice and a short menu ===== */
/* Note that some styling for the main menu and submenus appears here
   to avoid duplication, since certain styles are the same for all three
   kinds of menus.
*/
div#footer {
clear: right;
width: 100%;
height: 20px;
}

div#copyright {
float: left;
width: 350px;
height: 100%;
padding-top: 5px;
font-weight: bold;
font-size: .7em;
}

ul#mainLinks, ul#subLinks{
height: 100%;
list-style-type: none;
}

div#footerLinks {
float: right;
margin-right: 30px;
width: 139px;
height: 100%;
padding-bottom: 5px;
text-align: center;
}

ul#mainLinks li a, div#footerLinks a {
color: #FFF;
text-decoration: none;
font-weight: bold;
font-size: .7em;
}

ul#mainLinks li a:hover, ul#subLinks li a:hover, div#footerLinks a:hover {
color: #000;
}

/* === some pages with text at left or right of content area have headers === */
div#textLeft h3, div#textRight h3 {
margin: 1em 0 .7em;
text-align: left;
font-weight: bold;
font-size: 1em;
}
